doctype html
html(lang="es")
  head
    meta(charset='utf-8')
    // script(src="https://cdn.shopify.com/s/assets/external/app.js")
    script(src="vendor/jquery-3.3.1.min.js")
    // script(src="vendor/smartwizard/dist/js/jquery.smartWizard.js")
    script(src="vendor/form-validator/jquery.form-validator.js")
    link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css' integrity='sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy' crossorigin='anonymous' )
    link(rel='stylesheet' href='vendor/fontawesome/web-fonts-with-css/css/fontawesome-all.min.css')
    // link(rel='stylesheet' href='vendor/swiper/dist/css/swiper.min.css')

    // script(src='vendor/swiper/dist/js/swiper.min.js')
    // script(src='vendor/swiper/dist/js/swiper.esm.js')
    // script(src='vendor/swiper/dist/js/swiper.esm.bundle.js')
    script( src="/js/app.js")
    link( href="/vendor/animate.min.css" rel="stylesheet" )
    link( href="/vendor/smartwizard/dist/css/smart_wizard.css" rel="stylesheet")
    link( href="/css/index.css" rel="stylesheet")
  body
