html, body {
  height: 100%;
  margin: 0;
  background: linear-gradient(to top, #030303, #2c5481);
  background: -webkit-linear-gradient(to top, #030303, #2c5481);
  color: white; }

.app-container {
  height: 100%; }

.logo-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center; }
  .logo-container > span {
    padding: 0 1em;
    font-size: 2em; }

.swiper-container {
  width: 100%;
  height: 100%; }
  .swiper-container .swiper-slide {
    background-image: linear-gradient(to left, #5798f9, #00baf9, #00d2d8, #7fe2b2, #d4eaa2);
    background-repeat: no-repeat; }
    .swiper-container .swiper-slide .container {
      position: relative; }

.swiper-button-next,
.swiper-button-back {
  background-image: none !important; }

.step-intro .center-elements {
  display: flex;
  flex-flow: column wrap;
  height: 70%;
  justify-content: space-around; }
  .step-intro .center-elements .btn-container {
    width: 100%;
    text-align: center; }
  .step-intro .center-elements .btn-start-wizard {
    font-size: 1em;
    text-align: left;
    font-weight: bold;
    color: #f3f3f3;
    text-transform: uppercase;
    width: 50%;
    height: 60px;
    margin: auto;
    position: relative; }
    .step-intro .center-elements .btn-start-wizard i {
      font-size: 1.5em;
      position: absolute;
      right: 1%; }

.step-2 .container {
  max-width: 690px; }

.step-2 .title {
  border-bottom: 1px solid blue;
  text-align: center; }

.wizard-actions-menu {
  position: absolute;
  bottom: 0;
  left: 5%;
  right: 5%; }
  .wizard-actions-menu button {
    width: 25%; }

form {
  width: 100%;
  margin: auto;
  position: relative; }

#validate-pake-api-key {
  cursor: pinter; }

.sign-up-form-container {
  display: none;
  margin-bottom: 1em; }
  .sign-up-form-container .error-container {
    display: none; }

.form-error-container {
  display: none; }
